:root {
    --blue-sidebar: #1a92d4;
    --grey-background: #e2e8f0;
    --user-color: #ea8a22;
    --content-text-grey: #636363;
    --main-content-icon-size: 1.5em;
    --card-icon-size: 1.2em;
    --font-size-1: 700 1em 'Roboto', sans-serif;
    --font-size-2: 700 0.8em 'Roboto', sans-serif;
    --font-size-3: 700 0.7em 'Roboto', sans-serif;
    --font-size-5: 700 0.6em 'Roboto', sans-serif;
    --box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100vh;
}

/* CONTAINER INITIAL */

.container-init {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

/* SIDEBAR */

.sidebar {
    background: var(--blue-sidebar);
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 2em;
    padding: 1em;
}

.sidebar-brand {
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: white;
}

#dashboard-p {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}

#dashboard-icon {
    height: 2em;
}

.sidebar li {
    padding-bottom: 0.9em;
    list-style-type: none;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font: var(--font-size-1);
}

.sidebar svg {
    height: 1em;
    fill: white;
    padding-right: 0.5em;
}

/* CONTAINER MAIN */

.container-main {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

/* CONTAINER HEADER */

.container-header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: white;
    padding: 0.8em 2em;
    box-shadow: var(--box-shadow);
}

.container-header-search {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    align-items: center;
    justify-content: space-between;
}

.container-header-search-left {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    align-items: center;
}

#search-bar {
    border-radius: 50px;
    background: var(--grey-background);
    width: clamp(5em, 40vw, 30em);
    height: 2em;
    padding: 0 1em;
}

.container-header svg {
    height: var(--main-content-icon-size);
    padding-right: 0.5em;
}

.container-header-search-right {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    align-items: center;
}

.container-header-search-right>* {
    margin: 0 0.5em;
}

.profile-photo-wrapper {
    display: flex;
    background: var(--user-color);
    padding: 0.4em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.profile-photo-small {
    height: 1.5em;
}

.container-header-profile-left {
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.profile-photo-wrapper-large {
    display: flex;
    background: var(--user-color);
    padding: 0.6em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 3.2em;
    width: 3.2em;
    align-self: flex-start;
}

.profile-photo-large {
    height: 1.8em;
}

.container-header-profile {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    align-items: center;
    justify-content: space-between;
    /* margin-top: 0.8em; */
}

.container-header-name-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.container-header-name-wrapper-2 {
    display: flex;
}

.greeting-main {
    font: var(--font-size-5);
}

.container-header-name-wrapper-2>p {
    font: var(--font-size-1);
}

#handle-main {
    margin-left: 0.2em;
}

.container-header-profile-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header-button {
    color: white;
    background: var(--blue-sidebar);
    font: var(--font-size-3);
    margin: 0 max(0.2em, 0.8vw);
    width: 7em;
    height: 3em;
    border-radius:16px;
}

/* CONTAINER CONTENT */

.container-content {
    background: var(--grey-background);
    padding: 2em 1em;
}

.container-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.content-container-left-title {
    margin-bottom: 0.5em;
    font-weight: 700;
}

.left-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 1em;
}

.card {
    background: white;
    border-left: 4px solid var(--user-color);
    border-radius: 5px;
    padding: 2em 1em;
    width: max(15em, 25vw);
    height: 11em;
    display: grid;
    grid-template-rows: repeat(3, auto);
    box-shadow: var(--box-shadow);
}

.card-title {
    font: var(--font-size-2);
}

.card-content {
    font: var(--font-size-3);
    font-weight: 400;
    color: var(--content-text-grey);
    margin-bottom: 2em;
}

.card svg {
    height: var(--card-icon-size);
    fill: var(--content-text-grey);
    margin: 0 0.3em;
}

.card-svg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-content-right {
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.card-vertical {
    background: white;
    border-radius: 5px;
    padding: 2em 1em;
    width: max(13em, 25vw);
    box-shadow: var(--box-shadow);
}

.card-vertical-section {
    border-bottom: 1px solid var(--content-text-grey);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.card-vertical-section:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.card-vertical-title {
    font: var(--font-size-3);
}

.card-vertical-content {
    font: var(--font-size-5);
    color: var(--content-text-grey);
    font-weight: 400;
     display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.card-vertical-bottom {
    background: white;
    border-radius: 5px;
    padding: 1em 1em;
    width: max(13em, 25vw);
    box-shadow: var(--box-shadow);
}

.card-vertical-2-section {
    display: flex;
    margin-bottom: 0.5em;
    
}

.card-vertical-2-section:last-child {
    margin-bottom: 0;
}

.card-vertical-2-handle {
    font: var(--font-size-3);
    font-weight: 600;
}

.card-vertical-2-project {
    font: var(--font-size-5);
    font-weight: 400;
    color: var(--content-text-grey);
}

.profile-photo-wrapper-trending {
    display: flex;
    background: var(--user-color);
    padding: 0.4em;
    margin-right: 1em;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}



